body {
  width: 70%;
  padding-top: 5%;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(114, 244, 205);
}

button {
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid rgb(10, 54, 226);
  color: #fff;
}
input {
  padding: 20px;
  text-align: center;
}
