body {
  /* young~~~~~ */
  width: 70%;
  padding-top: 5%;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(229, 229, 247);
}

button {
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
  border: 1px solid rgb(226, 10, 172);
  color: #fff;
}
input {
  padding: 20px;
  text-align: center;
}
